In [9]:
#1. Create 'd', a nested list that contains 5 other lists. The first list should contain the four string values: ID, Age, is_part_time, salary.
#   The next 4 lists should contain date of types: int, int, boolean, int. For example [3, 35, False, 72000].
#   Populate these 4 remaining lists with your own made-up data.

d = [ ['ID','Age','is_part_time','salary'], [0,23,True,25000], [1,24,False,35000], [2,25,False,40000], [3,26,True,20500] ]

d

[['ID', 'Age', 'is_part_time', 'salary'],
 [0, 23, True, 25000],
 [1, 24, False, 35000],
 [2, 25, False, 40000],
 [3, 26, True, 20500]]

In [10]:
#2. Print your current working directory to the console.

import os

os.getcwd()

'/home/syedarhamn/School/Scientific Data Analysis/Submissions/worksheet3'

In [11]:
#3. Using Python's csv module, write 'd' to disk as a csv file. Use the method writerows() to write the nested list structure.

import csv

with open('employees.csv', mode='w', newline='') as emp_file:
    write = csv.writer(emp_file)
    write.writerow(['ID','Age','is_part_time','salary'])
    write.writerow([0,23,True,25000])
    write.writerow([1,24,False,35000])
    write.writerow([2,25,False,40000])
    write.writerow([3,26,True,20500])

emp_file.close()

In [15]:
#4. Using pandas module, load the same csv file into 'd2', and print d2.

import pandas as pd

d2 = pd.read_csv('employees.csv')
print(d2)

   ID  Age  is_part_time  salary
0   0   23          True   25000
1   1   24         False   35000
2   2   25         False   40000
3   3   26          True   20500

In [21]:
#5. Create a Series 'd' containing 5 values, 0 through 4 inclusive, in increments of 1, with indexes 'a' through 'e', inclusive.
import numpy as np

d = pd.Series([0,1,2,3,4], index=['a','b','c','d','e'])
d

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [22]:
#6. Create a 'd2' containing 5 values, 5 through 9 inclusive, with indexes: a,b,c,d,z.
d2 = pd.Series([5,6,7,8,9], index=['a','b','c','d','z'])
d2

a    5
b    6
c    7
d    8
z    9
dtype: int64

In [23]:
#7. Arithmetically add d and d2, save in 'd3', and print d3 to console. You should see two NaN values at the end of d3.
d3 = d + d2
print(d3)

a     5.0
b     7.0
c     9.0
d    11.0
e     NaN
z     NaN
dtype: float64

In [1]:
#8. Using a Panda's method, identify which values in d3 contain NaN. Using that information, print only those NaN values in d3 to console. 

print(d3[d3.isna()])

NameError: name 'd3' is not defined

In [34]:
#9. Pandas come with a few built-in DataFrame objects. Assign the following built-in DataFrame to variable 'd4': pd.util.testing.makeMixedDataFrame().
#   Print d4 to console.

d4 = pd.util.testing.makeMixedDataFrame()
print(d4)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [38]:
#10. Determine which elements in column 'A' are greater than 2, and store the result in a new column in d4 called 'greater'. Print d4 to console.

d4['greater'] = d4['A'] > 2
print(d4)

     A    B     C          D  greater
0  0.0  0.0  foo1 2009-01-01    False
1  1.0  1.0  foo2 2009-01-02    False
2  2.0  0.0  foo3 2009-01-05    False
3  3.0  1.0  foo4 2009-01-06     True
4  4.0  0.0  foo5 2009-01-07     True